@import "../../styles/helpers.scss";

.daycard {
  background-color: $gray-40;
  min-width: 12rem;

  .daycard__content {
    flex: 0 0 100%;
    width: 100%;
  }

  &--expanded {
    width: 100%;
    flex-wrap: wrap;
  }

  .daycard__step {
    dt,
    dd {
      display: inline-block;
    }
  }

  .daycard__key {
    margin-right: $miniunit;
  }
}
