@import "helpers.scss";

.logo {
  display: inline-block;
}

.wordmark {
  display: inline-block;
}

.container.--dark {
  background-color: $gray-60;
}

.container.--light {
  background-color: lightblue;
}

.header {
  background-color: grey;
  display: block;
  width: 100vw;
}

.header__content {
  padding: 1rem;
}

.section {
  &.--gray-20 {
    background-color: $gray-20;
  }
}
.heading {
  &.--h1 {
    font-size: 2.5rem;
  }

  &.--h2 {
    font-size: 2rem;
  }
  &.--h3 {
    font-size: 1.5rem;
  }
}

.label {
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: regular;
}

.weather-icon {
  width: 6rem;

  &.--sm {
    width: 4rem;
  }
}

.simpleCard {
  max-width: 30rem;
  border-radius: 0.75rem;
  padding: 1.5rem;

  &.--border {
    border: 1px solid $gray-40;
  }
  &.--center {
    margin-left: auto;
    margin-right: auto;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  @media screen and (min-width: $lg - 1) {
    flex-direction: row;
    text-align: left;
  }
}

// Utilities

.capitalize::first-letter {
  text-transform: uppercase;
}

.text-gray-60 {
  color: $gray-60;
}
